<header id="top-header">
  <div class="logo">
    <a href="/" title="CSE Motors home">
      <img src="/images/site/icon.png" alt="CSE Motors logo">
      <span>CSE Motors</span>
    </a>
  </div>
  <div class="account">
    <% if (!locals.loggedin) { %>
      <a href="/account/login">My Account</a>
    <% } else { %>
      <span>Welcome <%= accountData.account_firstname %></span>
      <a href="/account/">My Account</a>
      <a href="/account/logout">Logout</a>
    <% } %>
  </div>
</header>