<h1>Welcome to CSE Motors!</h1>
<%- messages() %>

<section class="hero">
  <img
    class="hero__img"
    src="/images/vehicles/delorean.jpg"
    alt="DMC Delorean"
  />

  <div class="hero__overlay">
    <h2 class="hero__title">DMC Delorean</h2>
    <p class="hero__copy">
      3 Cup holders<br/>
      Superman doors<br/>
      Fuzzy dice!
    </p>
    <a href="/vehicles/delorean" class="button hero__cta">Own Today</a>
  </div>
</section>

<div class="features">
  <section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>

  <section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="items">
      <div class="item">
        <a href="/upgrades/flux-capacitor">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <p>Flux Capacitor</p>
        </a>
      </div>
      <div class="item">
        <a href="/upgrades/flame-decals">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
          <p>Flame Decals</p>
        </a>
      </div>
      <div class="item">
        <a href="/upgrades/bumper-stickers">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
          <p>Bumper Stickers</p>
        </a>
      </div>
      <div class="item">
        <a href="/upgrades/hub-caps">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
          <p>Hub Caps</p>
        </a>
      </div>
    </div>
  </section>
</div>